.navbar-brand {
	background: url(../img/logo.png) 0 5px no-repeat;
	background-size: 190px;
	width: 202px;
	padding: 10px 0 0 0;
	text-indent: -1000px;
	overflow: hidden;
}

body, .contactpage, .press {
padding-top: 5px;
padding-bottom: 20px;
background-color: lavender;
}
.col-md-6, .col-md-12, .col-md-4, .col-md-3, .col-md-2, .col-md-8, .press, .contactpage {
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

h1{
text-align: center;
}
h2, h3 {
padding-bottom: 19px;
margin-top: 0;
margin-bottom: 0;
text-align: center;
}
