.navbar-brand {
	background: url(../img/logo.png) 0 5px no-repeat;
	background-size: 190px;
	width: 202px;
	padding: 10px 0 0 0;
	text-indent: -1000px;
	overflow: hidden;
}

body {
padding-top: 5px;
padding-bottom: 20px;
text-align: left;
}

h1{
text-align: left;
}
h2, h3 {
padding-bottom: 19px;
margin-top: 0;
margin-bottom: 0;
text-align: left;
}

.join_us{
	padding-left: 40px;
}
